@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-dropdown > .ant-dropdown-menu {
    padding: 10px 15px;
  }
  .ant-dropdown > .ant-dropdown-menu > .ant-dropdown-menu-item {
    padding: 5px 10px;
    margin-bottom: 8px;
  }
  .ant-dropdown > .ant-dropdown-menu > .ant-dropdown-menu-item:hover {
    background-color: #243c5a;
    color: white;
  }
  .ql-container{
    min-height: 150px;
  }
  
  @layer components {
    .btn-class {
      @apply bg-theme-color px-4 py-1 text-white font-semibold rounded-lg disabled:bg-slate-400 hover:bg-theme-light disabled:cursor-not-allowed;
    }
  }
  
  .ant-btn-primary{
    background: #1677ff;
  }
  
  .ant-tabs-tab {
    flex-grow: 1 !important;
    margin-right: 0px;
    width: 80%;
    text-align: center !important;
  }
  .ant-tabs-nav-scroll {
    display: flex !important;
    justify-content: center !important;
  }
  
  input::file-selector-button {
    font-weight: bold;
    margin: auto;
  }
  
  .line-chart> canvas{
      width:100% !important;
      min-height: 400px !important;
  }
  
  .pie-chart> canvas{
    width:100% !important;
    min-height: 300px !important;
    max-height: 400px;
  }